<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Project Page</title>

    <!-- EXTERNAL BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">


    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="../public/CSS/style-2.css">

</head>
<body>
    
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand me-5" href="/">
            <img src="../public/IMG/logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active fw-bold" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-3" aria-current="page" href="/add-project">Add Project</a>
              </li>
            </ul>
            <a href="/contact" class="btn btn-dark py-1">Contact Me</a>
          </div>
        </div>
    </nav>
    <!-- END NAVBAR -->


    <!-- FORM PROJECT -->
    <section class="container-1">
        <div class="container-form">
            <form action="/create-project" method="POST">
                <h3>EDIT MY PROJECT</h3>
            
                <div class="title-project">
                    <label for="input-project">Project Name</label>
                    <input id="input-project" name="input-project" value="{{.updateProject.ProjectName}}" type="text" required>
                </div>

                <div class="date-project">
                    <div class="start-date">
                        <label for="input-start">Start Date</label>
                        <input id="input-start" name="input-start" value="{{.updateProject.StartDate}}" type="date" required>
                    </div>
                    <div class="end-date">
                        <label for="input-end">End Date</label>
                        <input id="input-end" name="input-end" value="{{.updateProject.EndDate}}" type="date" required>
                    </div>
                </div>

                <div class="desc-project">
                    <label for="input-desc">Description</label>
                    <textarea id="input-desc" name="input-desc">{{.updateProject.Description}}</textarea>
                </div>

                <div class="tech-project">
                    <label for="check-box-detail">Technologies</label>
                    <div class="left-checkbox">
                        {{if eq (index .updateProject.Technologies 0) "node"}}
                        <div>
                            <input id="node" name="node" type="checkbox" value="node" checked>
                            <label for="node">Node JS</label>
                        </div>
                        {{else}}
                        <div>
                            <input id="node" name="node" type="checkbox" value="node">
                            <label for="node">Node JS</label>
                        </div>
                        {{end}}

                        {{if eq (index .updateProject.Technologies 1) "react"}}
                        <div>
                            <input id="react" name="react" type="checkbox" value="react" checked>
                            <label for="react">React JS</label>
                        </div>
                        {{else}}
                        <div>
                            <input id="react" name="react" type="checkbox" value="react">
                            <label for="react">React JS</label>
                        </div>
                        {{end}}

                    </div>
                    <div class="right-checkbox">
                        {{if eq (index .updateProject.Technologies 2) "next"}}
                        <div>
                            <input id="next" name="next" type="checkbox" value="next" checked>
                            <label for="next">Next JS</label>
                        </div>
                        {{else}}
                        <div>
                            <input id="next" name="next" type="checkbox" value="next">
                            <label for="next">Next JS</label>
                        </div>
                        {{end}}

                        {{if eq (index .updateProject.Technologies 3) "type"}}
                        <div>
                            <input id="type" name="type" type="checkbox" value="type" checked>
                            <label for="type">TypeScript</label>
                        </div>
                        {{else}}
                        <div>
                            <input id="type" name="type" type="checkbox" value="type">
                            <label for="type">TypeScript</label>
                        </div>
                        {{end}}
                    </div>
                </div>

                <div class="img-project">
                    <label for="">Upload Image</label>
                    <label for="input-img" class="upload">
                        <p>choose</p>
                        <img src="../public/IMG/file.png">
                        <input id="input-img" type="file" hidden>
                    </label>
                </div>

                <div class="btn-project">
                    <button>update</button>
                </div>
                
            </form>
        </div>
    </section>
    <!-- END FORM PROJECT -->


     <!-- EXTERNAL JS BOOTSTRAP -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>